<!doctype html>
<head>
    <title>Flask Taskr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    FlaskTaskr
                </a>
            </div>
            <div>
                <div class="nav navbar-nav navbar-right">
                    {% if session.logged_in %}
                        <p class="navbar-text">Welcome, {{ session.name }}</p>
                        <a class="btn btn-primary btn-sm navbar-btn" href="{{ url_for('users.logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="row">
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        </div>
        {% endfor %}
        {% if error %}
        <div class="row">
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>        
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>