{% extends "_base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Add a new task: {{ error }}</h3>
        <form class="form-inline" action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group {{ 'has-error' if form.name.errors }}">
                {{ form.name(class_="form-control", placeholder="Task name") }}
                {% if form.name.errors %}
                <span class="text-danger">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            <div class="form-group {{ 'has-error' if form.due_date.errors }}">
                {{ form.due_date(class_="form-control", placeholder="Due date (dd/mm/yyyy)") }}
                {% if form.due_date.errors %}
                <span class="text-danger">
                    {% for error in form.due_date.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            <div class="form-group {{ 'has-error' if form.priority.errors }}">
                {{ form.priority(class_="form-control", placeholder="Priority") }}
                {% if form.priority.errors %}
                <span class="text-danger">
                    {% for error in form.priority.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Open Tasks</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Due date</th>
                    <th>Posted date</th>
                    <th>Priority</th>
                    <th>Posted by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in open_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.posted_date }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.poster.name }}</td>
                    <td>
                        <a class="btn btn-xs btn-success" href="{{ url_for('complete', task_id = task.task_id) }}">Complete</a>
                        <a class="btn btn-xs btn-danger" href="{{ url_for('delete', task_id = task.task_id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Closed Tasks</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Due date</th>
                    <th>Priority</th>
                    <th>Posted by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in closed_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.poster.name }}</td>
                    <td>
                        <a class="btn btn-xs btn-danger" href="{{ url_for('delete', task_id = task.task_id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}